
[flake8]
max-line-length = 120
max-complexity = 18
exclude = __init__.py
# E203: whitespace before colon is broken
# E231: space after comma is not always required
# W: ignore all warnings
ignore = E203,E231,W
